@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-gray-50;
}

@layer components {
  .btn {
    @apply bg-[#12b488] text-white px-3 py-2 rounded-md text-sm inline-block;
  }
  .card {
    @apply p-3 rounded-md bg-white shadow-md h-full;
  }
}