<template>
  <div>
    <div class="grid grid-cols-4 gap-5">
      <div v-for="(item, index) in products" :key="index">
        <ProductCard :product="item" />
      </div>
    </div>
  </div>
</template>

<script setup>
useHead({
  title: 'Product Merch',
  meta: [
    { name: 'description', content: 'Belajar tantang nuxt 3' }
  ],
})
definePageMeta({
  layout: 'products',
})

const { data: products } = await useFetch('https://fakestoreapi.com/products')

</script>

<style scoped>

</style>