<template>
    <div>
        <header class="shadow-sm bg-white">
            <nav class="container mx-auto p-4 flex justify-between">
                <NuxtLink :to="{ path: '/' }" class="font-bold">Brand</NuxtLink>
                <ul class="flex gap-4">
                    <li>
                        <NuxtLink :to="{ path: '/' }">Home</NuxtLink>
                    </li>
                    <li>
                        <NuxtLink :to="{ path: '/about' }">About</NuxtLink>
                    </li>
                    <li>
                        <NuxtLink :to="{ path: '/products' }" class="btn">Products</NuxtLink>
                    </li>
                </ul>
            </nav>
        </header>
        <div class="container mx-auto p-4">
            <slot />
        </div>
    </div>
</template>

<script>
export default {

}
</script>

<style>
.router-link-active {
    color: red;
}
</style>