<template>
    <div>
        <header class="shadow-sm bg-white">
            <nav class="container p-4">
                <NuxtLink :to="{ path: '/' }">Brand</NuxtLink>
            </nav>
        </header>
        <div class="container mx-auto p-4">
            <slot />
        </div>
        <footer class="container p-4 mx-auto flex justify-between border-t-2">
            <ul class="flex gap-4">
                <li>
                    <NuxtLink :to="{ path: '/' }">Home</NuxtLink>
                </li>
                <li>
                    <NuxtLink :to="{ path: '/about' }">About</NuxtLink>
                </li>
                <li>
                    <NuxtLink :to="{ path: '/products' }">Products</NuxtLink>
                </li>
            </ul>
        </footer>
    </div>
</template>

<script>
export default {

}
</script>

<style>

</style>