<template>
    <h2>About Nuxt</h2>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vero, maxime delectus iusto sit ipsa aut deleniti
        placeat voluptates atque vel animi facere quaerat tempore, blanditiis nam optio perspiciatis veritatis! Vero.
    </p>
    <div>{{ data }}</div>
</template>

<script setup>
// const { data } = await useFetch('/api/ninja?name=kholis&age=20', {
//     method: 'post',
//     body: {
//         age: 20,
//     }
// });
const {data} = await useFetch('api/currency/GBP')
</script>