<template>
  <div>
    <h2>Home</h2>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolore illum ipsa atque pariatur tempora incidunt ut sit quisquam impedit officiis quos culpa accusamus doloremque delectus, quidem quia voluptatibus natus cum?</p>
  </div>
</template>

<script setup>
</script>

<style>

</style>